@import "tailwindcss";

h1 {
  @apply tracking-widest;
}
h2 {
  @apply tracking-[0.7rem] font-bold my-5;
}

.pokemon-card {
  @apply basis-[30%] flex items-center flex-col h-[280px] mt-6 border rounded-xl  max-w-[350px] cursor-pointer shadow-md hover:shadow-lg   transform transition-transform duration-300 ease-out hover:scale-110;
}
